<div class="firstname-container">
  <app-progress-bar [step]="5"></app-progress-bar>

  <button class="back-button" (click)="goBack()">
    <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M15 18L9 12L15 6" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </button>

  <div class="content">
    <h1>The SIRET<br>number</h1>
    <div class="input-group">
      <input 
        type="text" 
        class="name-input"
        placeholder="123 456 789 00045"
        (input)="onSiretInput($event)"
        [value]="siretNumber"
        maxlength="18"
      />
    </div>
    <p class="example-text">
      Example: 123 456 789 00045
    </p>
  </div>

  <button 
    class="button-white continue-button"
    [class.disabled]="!isSiretValid"
    [disabled]="!isSiretValid"
    (click)="navigateNext()"
  >
    CONTINUE
  </button>
</div> 