<div class="profile-container">
  <div class="profile-header">
    <img src="assets/icons/full_tastematch.png" alt="TasteMatch" class="logo" />

    <div class="profile-image">
      <div class="avatar-container">
        <img
          src="./../../assets/icons/restaurant.png"
          alt="Profile"
          class="avatar"
        />
        <div class="avatar-border"></div>
      </div>
      <h2>Italian Touch</h2>
    </div>

    <div class="action-buttons">
      <button class="action-btn">
        <img
          src="assets/icons/settings.png"
          alt="Settings"
          style="width: 100px; height: 100px"
        />
        <span>Settings</span>
      </button>
      <button class="action-btn edit">
        <img
          src="assets/icons/preferences_icon.png"
          alt="Preferences"
          style="width: 100px; height: 100px"
        />
        <span>Preferences</span>
      </button>
      <button class="action-btn">
        <img
          src="assets/icons/safety.png"
          alt="Safety"
          style="width: 100px; height: 100px"
        />
        <span>Safety</span>
      </button>
    </div>
  </div>

  <div class="options-section">
    <h3>Options</h3>
    <div class="option-items">
      <div class="option-item">
        <i class="fas fa-video"></i>
        <div class="option-details">
          <h4>Publish video</h4>
        </div>
      </div>
      <div class="option-item">
        <i class="fas fa-film"></i>
        <div class="option-details">
          <h4>Videos published</h4>
        </div>
      </div>
      <div class="option-item">
        <i class="fas fa-star"></i>
        <div class="option-details">
          <h4>See reviews</h4>
        </div>
      </div>
    </div>
  </div>
  <app-navbar></app-navbar>
</div>
