<div class="profile-container">
  <div class="profile-header">
    <img src="assets/icons/full_tastematch.png" alt="TasteMatch" class="logo" />

    <div class="profile-image">
      <div class="avatar-container">
        <img src="assets/icons/profile.jpg" alt="Profile" class="avatar" />
        <div class="avatar-border"></div>
      </div>
      <h2>Jonh Doe</h2>
    </div>

    <div class="action-buttons">
      <button class="action-btn">
        <img
          src="assets/icons/settings.png"
          alt="Settings"
          style="width: 100px; height: 100px"
        />
        <span>Settings</span>
      </button>
      <button class="action-btn edit">
        <img
          src="assets/icons/preferences_icon.png"
          alt="Preferences"
          style="width: 100px; height: 100px"
        />
        <span>Preferences</span>
      </button>
      <button class="action-btn">
        <img
          src="assets/icons/safety.png"
          alt="Safety"
          style="width: 100px; height: 100px"
        />
        <span>Safety</span>
      </button>
    </div>
  </div>

  <div class="logbook-section">
    <h3>My logbook</h3>
    <div class="food-items">
      <div class="food-item">
        <img src="./../../assets/icons/burger.png" alt="Gourmet Burger" />
        <div class="food-details">
          <h4>Gourmet Burger</h4>
          <div class="rating">
            <span class="stars">★★★★☆</span>
            <span class="score">4.7</span>
          </div>
        </div>
      </div>
      <div class="food-item">
        <img src="./../../assets/icons/pasta.png" alt="Pasta Box" />
        <div class="food-details">
          <h4>Pasta Box</h4>
          <div class="rating">
            <span class="stars">★★★★☆</span>
            <span class="score">4.2</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-navbar></app-navbar>
</div>
