<div class="code-container">
  <button class="back-button" (click)="goBack()">
    <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M15 18L9 12L15 6" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </button>

  <div class="content">
    <h1>My code is</h1>
    <div class="code-input-container">
      <input 
        type="tel" 
        class="code-input"
        [value]="formattedCode"
        (input)="onCodeInput($event)"
        maxlength="6"
        placeholder="000000"
      />
      <div class="code-display">
        <div class="digit-container" *ngFor="let digit of displayDigits">
          <span class="digit">{{digit}}</span>
          <div class="dash"></div>
        </div>
      </div>
    </div>
  </div>

  <button 
    class="button-white continue-button"
    [class.disabled]="formattedCode.length < 6"
    [disabled]="formattedCode.length < 6"
  >
    CONTINUE
  </button>
</div> 